# compiled toolchains
/tools/RV*

# generated directories and files
verilator
!/backends/verilator
accelerator
!/accelerator
build
out
/tools/elf2hex/elf2hex
*.exe
generatedDesignInterfaceFile.json

# hex files
*.hex

